@import url('https://fonts.googleapis.com/css?family=K2D|Lobster|Montserrat');



.image_osminog {
  width: 44.8px;
  height: 44.5px;

}

.image_singleton {
  width: 118px;
  height: 29px;
  font-family: FiraSans-Ultra;
  font-size: 26.6px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}

.image_menu {
  width: 33px;
  height: 33px;
}

.container_inf {
  display: flex;
  flex-direction: column;
  background-color: #ff6600;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;

}

.inf {
  align-self: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  overflow:hidden;
}

#inf1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #333333;
}

.inf_images {
  width: 83px;
  height: 83px;
  border: solid 5px #cc3300;
  background-color: #cc3300;
}

#image1 {
  margin: -336px 0px 0px 0px;
}
#image2 {
  margin: -252px 0px 0px 0px;
}
#image3 {
  margin: 0px 0px 0px 0px;
}
#image4 {
  margin: -84px 0px 0px 0px;
}
#image5 {
  margin: -168px 0px 0px 0px;
}
#image6 {
  margin: -420px 0px 0px 0px;
}



.conteiner_comments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  background-color: #009900;

}

.comments {
  align-self: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

#comment1{
  display: block;
  width: 124px;
  height: 22px;
  font-size: 30px;
  font-style: normal;
  line-height: 0.58;
  border: solid 15px #00cc00;
  color: #ffffff;
  background-color: #00cc00;

}

.comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: solid 16px #009900;
  border-top: 0px;

}

.commentar {
  width: 174px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  border: solid 9.5px #ffffff;

}

#button_left, #button_right{
  width: 27px;
  height: 19px;
  font-size: 20px;
  border: 0px;
  background-color: #009900;
}

flex_directions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: #0072bc;
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}





#direction {
  height: 109px;
  flex-basis: 109px;
  font-size: 30px;
  line-height: 0.58;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;

}

.directions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: #0072bc;
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  align-self: center;
  height: 177px;

}

.button_detail {
  width: 114px;
  height: 24px;
  font-size: 16px;
  line-height: 0.86;
  font-family: Roboto;
  text-align: left;
  text-transform: uppercase;
  border: solid 0px;
}

.item_directions {
  align-self: center;
}

.direct {
  font-size: 16px;
  line-height: 2;

}

.border_19 {
  border-bottom: solid 19px #0072bc;
}
.border_39 {
  border-bottom: solid 39px #0072bc;
}

#direction1 {
  border-top: solid 1px #ff0066;
  border-bottom: solid 1px #ff0066;
}
#button_QA {
  color: #ffffff;
  background-color: #ed145b;
}

#QA {
  width: 122px;
  height: 122px;
  background-color: #ed145b;
  border-radius: 50%;
  font-size: 36px;
  font-weight: 900;
  line-height: 3;
  text-align: center;
}

#direction2 {
  border-top: solid 1px #00bff3;
  border-bottom: solid 1px #00bff3;
}
#button_Java {
  color: #ffffff;
  background-color: #00bff3;
}

#Java {
  width: 122px;
  height: 122px;
  background-color: #00bff3;
  border-radius: 50%;
  font-size: 36px;
  font-weight: 900;
  line-height: 3;
  text-align: center;
}

#direction3 {
  border-top: solid 1px #ffff33;
  border-bottom: solid 1px #ffff33;
}
#button_FE {
  color: #333333;
  background-color: #ffff33;
}

#FE {
  width: 122px;
  height: 122px;
  background-color: #ffff33;
  border-radius: 50%;
  font-size: 36px;
  font-weight: 900;
  line-height: 3;
  text-align: center;
  color: #333333;
}

#direction4 {
  border-top: solid 1px #990099;
  border-bottom: solid 1px #990099;
}
#button_WebOps {
  color: #ffffff;
  background-color: #990099;
}

#WebOps {
  width: 122px;
  height: 122px;
  background-color: #990099;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 900;
  line-height: 4;
  text-align: center;
}
